/** Add css rules here for your application. */
.gwtAmChartMenu {
	position: relative !important;
	left: 50px !important;
	top: 10px !important;
}

#chartdiv1 {
	width: 49%;
	height: 300px;
	font-size: 11px;
	float: left;
}

#chartdiv2 {
	width: 50%;
	height: 300px;
	font-size: 11px;
	float: left;
}

/* 
.amcharts-graph-valueGraph {
	filter: url(#blur);
} 
*/

.amcharts-graph-valueGraph .amcharts-graph-line {
	-webkit-animation: am-pulsate-line 1s linear infinite;
	animation: am-pulsate-line 1s linear infinite;
}

.responsive-container {
	position: relative;
	padding-bottom: 60%; /* the higher the bigger the ratio */
}

.responsive-container>div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/** Add css rules here for your application. */
body {
	font-family: Tahoma,Arial,Verdana;
	font-size: 12px;
	color: black;
}

a:link {color: #84c4e2;}
a:visited {color:#84c4e2;}
a:hover {color: #cd82ad;}
a:active {color: #84c4e2;}